.comment-form {
    position: fixed;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    cursor: move;
    z-index: 1000; /* Ensure it's above other elements */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
  }
  
  .comment-form h3 {
    margin: 0;
    cursor: move;
  }
  
  .comment-form label {
    margin-right: 10px;
  }
  
  .comment-form input[type="text"] {
    width: calc(100% - 25px);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #dcd5d5;
  }
  
  .comment-form button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .comment-form button:hover {
    background-color: #45a049;
  }
  